body {
      font-family: 'Montserrat', sans-serif !important;
     }
/* @keyframes fadeInAnimation {
           0% {
               opacity: 0;
           }
           100% {
               opacity: 1;
           }
       } */

#main-jumbotron{
  padding: 0px
}

img {
  margin-bottom: 5px;
  background-size: cover;
  display: block;
}

/* #main-jumbotron img{
  background-size: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -30px;
  animation: fadeInAnimation ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */

/* @media (max-width: 768px) {
  #main-jumbotron img{
    width: 100vw;
  }
  body{
    font-size: 0.8rem;
  }
} */

#main-container {
  margin-top: 0px;
  background-color: #D7D6D6;
  padding: 30px;
  text-align: justify;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@media (max-width:767px){
  .divider {
        height: 1px;
        margin: 2px 0px;
        overflow: hidden;
        background-color: #e5e5e5;
    }
}

h3{
  text-align: center;
}
